/* Global Style */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    color: #333;
    background-color: #fff8e1; /* Kuning lembut */
}

/* Header */
header {
    background-color: #b71c1c; /* Merah tua */
    color: white;
    text-align: center;
    padding: 1rem 0;
}

/* Navbar */

nav {
    background-color: #f57f17; /* Kuning oranye */
    padding: 0.5rem;
    text-align: center;
}

nav a {
    color: white;
    text-decoration: none;
    margin: 0 10px;
    font-weight: bold;
}

nav a:hover {
    text-decoration: underline;
}

section {
    padding: 1rem;
    margin: 1rem auto;
    max-width: 800px;
    background-color: white;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
}

/* Table */
table {
    width: 80%;
    border-collapse: collapse;
    margin: 20px auto;
}

th, td {
    border: 1px solid #ddd;
    padding: 10px;
    text-align: center;
}

th {
    background-color: #d32f2f; /* Merah */
    color: #fff; /* Putih */
}

tr:nth-child(even) {
    background-color: #fbc02d; /* Kuning */
}

tr:nth-child(odd) {
    background-color: #fff; /* Putih */
}

tr:hover {
    background-color: #d32f2f; /* Merah */
    color: #fff; /* Putih */
}

/* Buttons */
button {
    background-color: #d32f2f; /* Merah */
    color: #fff;
    padding: 10px 15px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

button:hover {
    background-color: #fbc02d; /* Kuning */
    color: #333;
}

/* Footer */
footer {
    background-color: #b71c1c;
    color: white;
    text-align: center;
    padding: 1rem 0;
    position: fixed;
    width: 100%;
    bottom: 0;
}
